.setting-contact-card{
    background-image: linear-gradient(to right, #7299fe , #b57aff);
}
.setting-about-card{
    background-image: linear-gradient(to right, #f30dc1 , #f71a63);
}
.setting-footer-card{
    background-image: linear-gradient(to right, #f3740d , #a2f71a);
}